__pycache__
*/reference
*/temp
*/*.chk
*/*.chk.fmt
*/*.amn
*/*.mmn
*/*.eig
*/*.spn
*/*.u?u
*/*.s?u
*/*.spn.formatted
*/*.u?u.formatted
*/*.s?u.formatted
*/*.unkg
*/*.dmn
*/*.sym
*/*.out
*/*.wout
*/*.nnkp
UNK*
*/w90chk2chk.log
CRASH
